<!DOCTYPE html>

<html ng-app="myApp" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">

	<title>EPF Présence</title>

	<!-- Bootstrap core CSS-->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template-->
	<link href="/css/sb-admin.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	<script type="text/javascript" src="/vendor/angular/angular.js"></script>
	<script type="text/javascript" src="/core.js"></script>

</head>

<body class="fixed-nav sticky-footer bg-dark">

	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" style="background-color: rgb(222,40,30) !important;">
		<a class="navbar-brand" href="/AcceuilSession.html">
			<img src="/css/logoEPF.png" style="width: 7em; margin-bottom: -1.5em; margin-top: -1.75em;">
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div style="margin-left: 10em; color: white; font-size: 1.5em;">Tableau de bord</div>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style="background-color: rgb(228,231,235) !important;>


			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
				<a class="nav-link" href="/AcceuilSession" style="color: grey; padding-left: 1em;">
					<i class="fa fa-fw fa-home"></i>
					<span class="nav-link-text">Home</span>
				</a>
			</li>


			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
				<a class="nav-link" href="/administration">
					<i class="fa fa-fw fa-table"></i>
					<span class="nav-link-text">Administration</span>
				</a>
			</li>

			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
				<a class="nav-link" href="/presence">
					<i class="fa fa-fw fa-table"></i>
					<span class="nav-link-text">Absences</span>
				</a>
			</li>

			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
				<a class="nav-link" href="/presence">
					<i class="fa fa-fw fa-calendar"></i>
					<span class="nav-link-text">EDT</span>
				</a>
			</li>

			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
				<a class="nav-link" href="/presence">
					<i class="fa fa-fw fa-table"></i>
					<span class="nav-link-text">Exporter pour ELISA</span>
				</a>
			</li>

			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
				<a class="nav-link" href="http://www.epf.fr/">
					<i class="fa fa-fw fa-link"></i>
					<span class="nav-link-text">Site EPF</span>
				</a>
				<a class="nav-link" href="https://moodle.epf.fr/">
					<i class="fa fa-fw fa-link"></i>
					<span class="nav-link-text">Moodle</span>
				</a>
			</li>
		</ul>

		<!-- flèche pour réduire le menu -->
		<ul class="navbar-nav sidenav-toggler" style="background-color: rgb(228,231,235);">
			<li class="nav-item">
				<a class="nav-link text-center" id="sidenavToggler">
					<i class="fa fa-fw fa-angle-left"></i>
				</a>
			</li>
		</ul>

		<ul class="navbar-nav ml-auto">
			<!--formulaire "search for ... "-->
			<li class="nav-item">
				<form class="form-inline my-2 my-lg-0 mr-lg-2">
					<div class="input-group">
						<input class="form-control" type="text" placeholder="Search for...">
						<span class="input-group-append">
							<button class="btn btn-primary" type="button" style="background-color: rgb(180,180,180) !important; border-color: rgb(180,180,180);">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
			</li>

			<!-- item "log out" -->
			<li class="nav-item">
				<a class="nav-link" data-toggle="modal" data-target="#exampleModal" style="color: rgb(250,250,250,0.9);" href="/logout">
					<i class="fa fa-fw fa-sign-out"></i>Logout</a>
				</li>
			</ul>

		</div>
	</nav>


	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h1>Administration des utilisateurs</h1>
					<p>on gere les droits des utilisateur</p>

					<div>
		            	<a class="btn btn-primary btn-block" href="/creerutilisateur" style="background-color: rgb(228,231,235); border-color: rgb(228,231,235) ;color: black; margin-bottom: 5px;">créer un utilisateur</a>
		            </div>

		            <div>
		            	<a class="btn btn-primary btn-block" href="/creerListUtilisateur" style="background-color: rgb(228,231,235); border-color: rgb(228,231,235); margin-bottom: 5px; color: black;">ajouter une liste d'utilisateurs</a>
		            </div>

		            <div>

		            <a class="btn btn-primary btn-block" href="/listeUtilisateurs" style="background-color: rgb(228,231,235); border-color: rgb(228,231,235); margin-bottom: 5px; color: black;">liste des utilisateurs</a>
		            </div>

		            <div>
		            	<a class="btn btn-primary btn-block" value="/administration" style="background-color: rgb(228,231,235); border-color: rgb(228,231,235); margin-bottom: 5px;">modifier les droits d'un utilisateur</a>
		            </div>

		            <div>
		            	<a class="btn btn-primary btn-block" value="/administration" style="background-color: rgb(228,231,235); border-color: rgb(228,231,235); margin-bottom: 5px;">supprimer une liste d'utilisateur</a>
		            </div>

				</div>
			</div>
		</div>
	</div>

	<!-- /.container-fluid-->
	<!-- /.content-wrapper-->
	<footer class="sticky-footer">
		<div class="container">
			<div class="text-center">
				<small>footer fin de la page</small>
				<!--<small>Copyright © Your Website 2018</small>-->
			</div>
		</div>
	</footer>

</body>

</html>
