<!DOCTYPE html>

<html lang="fr">

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>EPF Présence</title>

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
  </head>

  <body class="bgc" style="background-color: rgb(228,231,235);"
    <div class="container">
      <div class="card card-login mx-auto mt-5" 
           style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  margin-top: 8rem !important;">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form action="/login" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Enter email" name="username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password" name="password">
            </div>

            <div style="color: red; margin-bottom: 15px;"> mot de passe ou nom d'utilisateur incorrect !</div>

            <div>
            <input class="btn btn-primary btn-block" type="submit" value="Log In" style="background-color: rgb(222,40,30); border-color: rgb(222,40,30);"/>
            </div>
          </form>

      </div>
    </div>
  </body>

</html>
